body {
  font-family: 'Roboto', sans-serif;
}

.call-to-action {
  background-color: black;
  color: white;
  border: none;
  width: 187px;
  height: 39px;
}



.height {    
  min-height: 100vh;   
}

.height-50 {
  min-height: 50vh;
}

.height-80 {
  min-height: 80vh;
}


.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

#layer {
  position: fixed;
  top: 0px;
  background-color:rgba(0,0,0,0);
  width: 100%;
  z-index:5;
}
