body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  /*  #121112 */
}

.height {    
  min-height: 100vh;   
}

.height-50 {
  min-height: 50vh;
}

.height-80 {
  min-height: 80vh;
}

/* start of icons */
#icons {
  width: 70%;
  text-align: center;
  margin: auto;
}

#icons a {
  color: black;
}
/* end of icons */

/* start of click here button */
.call-to-action {
  background-color: black;
  color: white;
  border: none;
  width: 187px;
  height: 39px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.call-to-action span {
  text-decoration: none;
    border-bottom: 1px solid black;   
    -webkit-transition: 0.9s ease;
            transition: 0.9s ease;
}

.call-to-action span:hover {
  -webkit-transition: 0.9s ease;
          transition: 0.9s ease;
  border-bottom: 3px solid white;
}
/* end of click here button */

/* start of carousel */
.carousel .carousel-item {
  height: 550px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
/* end of carousel */

/* start of cards */
.img-wrapper {
  width: auto;
  height: 300px;
  object-fit: cover;
}
/* end of cards */

/* start of primary-2 */
.about-picture {
  background: url(../img/primary_2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
/* end of primary-2 */


#layer {
  position: fixed;
  top: 0px;
  background-color:rgba(0,0,0,0);
  width: 100%;
  z-index:5;
}

a {
  font-size: 19px;
}

